build-aux/ltmain.sh
build-aux/config.guess
build-aux/config.sub
configure
Makefile.in
Makefile
CHANGES
*.Po
config.log
config.status
autoregen.sh
autom4te.cache
aclocal.m4
build-aux/config.h
.dirstamp
gmon.out
*.o
*.la
*.lo
*.loT
.libs
.deps
.DS_Store
bin/
massif*
\#*\#